@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root{
  --background: #dfe8fe;
  --button: #084A74;
  --button-hover: #3B6E9D;
  --button-text: #FFFFFF;
  --button-text-hover: #FFFFFF;
  --primary: #FFFFFF;
  --svg: #5E676F;
  --svg-hover: #000000;
  --sidebar: #084A74;
  --sidebar-top: #0A4160;
  --delete-button: #ed5853;
  --ui-text: #000;
}
.dark{
  --sidebar: #031023;
  --button-hover:#95b4f3;
  --button: #0B3F94;
  --button-text: #FCFDFE;
  --svg: #5d666e;
  --svg-hover: #426AF0;
  --primary: #1e293b;
  --background: #0f172a;
  --sidebar-top: #0f172a;
  --ui-text:#FCFDFE;
}

@theme inline {
  --color-background: var(--background);
  --color-button: var(--button);
  --color-button-hover: var(--button-hover);
  --color-button-text: var(--button-text);
  --color-button-text-hover: var(--button-text-hover);
  --color-primary: var(--primary);
  --color-svg: var(--svg);
  --color-svg-hover: var(--svg-hover);
  --color-sidebar: var(--sidebar);
  --color-sidebar-top: var(--sidebar-top);
  --color-delete-btn: var(--delete-button);
  --color-ui-text: var(--ui-text)
}