@import "tailwindcss";

:root{
  --background: #dfe8fe;
  --button: #084A74;
  --button-hover: #3B6E9D;
  --button-text: #FFFFFF;
  --button-text-hover: #FFFFFF;
  --primary: #FFFFFF;
  --svg: #5E676F;
  --svg-hover: #000000;
  --sidebar: #084A74;
  --sidebar-top: #0A4160;
  --delete-button: #ed5853;
  --dark-sidebar: #031023;
  --dark-button-hover:#16284D;
  --dark-button: #0B3F94;
  --dark-button-text: #FCFDFE;
  --dark-svg: #5E676F;
  --dark-svg-hover: #426AF0;
}

@theme inline {
  --color-background: var(--background);
  --color-button: var(--button);
  --color-button-hover: var(--button-hover);
  --color-button-text: var(--button-text);
  --color-button-text-hover: var(--button-text-hover);
  --color-primary: var(--primary);
  --color-svg: var(--svg);
  --color-svg-hover: var(--svg-hover);
  --color-sidebar: var(--sidebar);
  --color-sidebar-top: var(--sidebar-top);
  --color-delete-btn: var(--delete-button);
  --color-dark-sidebar: var(--dark-sidebar);
  --color-dark-btn: var(--dark-button)
  --color-dark-btn-hover: var(--dark-button-hover)
  --color-dark-btn-text: var(--dark-btn-text)
  --color-dark-svg: var(--dark-svg)
  --color-dark-svg-hover: var(--dark-svg-hover)
}